<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Library.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5E49B0460C9FD0422E5A0DC3A465FD6A24818D31</string>
				<key>dateExpires</key>
				<string>10/12/2020</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KRDGN5NQEH.com.mikhail.library.Library</string>
				<key>com.apple.developer.team-identifier</key>
				<string>KRDGN5NQEH</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>KRDGN5NQEH.com.mikhail.library.Library</string>
				</array>
			</dict>
			<key>name</key>
			<string>Library.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cec7dcda-d996-4060-a25e-fc8ac8ae26c6</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.mikhail.library.Library</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KRDGN5NQEH</string>
				<key>name</key>
				<string>LLC NestLine</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
